.aside .logo>a::before{
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}
.aside .logo>a::after{
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid #ec1839;
}
.toggler-style-switcher>.fa{
    color: #ec1839 !important;
}
.style-switcher .toggler-style-switcher .fa,
.contact .contact-info-item .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item,
.lightbox .lightbox-controls .next-item,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
body.dark .portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav>li>a:hover,
body.dark .aside .nav>li>a:hover,
body.dark .aside .nav li a.active,
.aside .nav>li>a.active{
    color: #ec1839;
}
.blog .blog-item-inner .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.aside .nav-toggler>span,
.aside .nav-toggler>span::before,
.aside .nav-toggler>span::after,
.home .intro .social-links a,
.section-title h2::before,
.section-title h2::after{
    background-color: #ec1839;
}
.portfolio .portfolio-filter button.active{
    border-color: #ec1839;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ec1839;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bb132d;
}